@import '../../assets/styles/main.scss';

// Search Section
.searchbar {
    height: 32px;
}

// Dishes Grid Section
.dish_link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dish_card {
  max-width: 340px;
  margin: 5px;
}

.dish_container {
    box-sizing: border-box;
}


.screen_reader_only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}
